$pumuwublu: #0f05ff;
$pumuwupurple: #8307ff;
$pumuwuyellow: #fff8c1;
$pumuwugold: #ffd04a;
$pumuwured: #ff1f00;
$pumuwupink: #ff28a3;
$pumuwupinklite: #ff9ad4;
$pumuwumaroon: #86004c;
$pumuwumaroonlite: #9d316e;

@font-face {
    font-family: "RomandeADF";
    font-weight: bolder;
    src: url(../fonts/RomandeADFStyleStd-DemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "RomandeADF";
    font-weight: bold;
    src: url(../fonts/RomandeADFStyleStd-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "RomandeADF";
    src: url(../fonts/RomandeADFStd-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Gloria";
    src: url(../fonts/Gloria.ttf) format("truetype");
}

body {
    background-image: url(../image/bg.jpeg);
    background-repeat: repeat; 
    background-size: 350px 350px;
    background: transparent;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    font-size: 32px;
    // background: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% );
}
#users {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    font-family: 'RomandeADF', sans-serif;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    .userBlock {
        box-sizing: border-box;
        padding: 0.75em 1em;
        min-width: 250px;

        filter: drop-shadow(0 0 0.75rem $pumuwuyellow);
        background: linear-gradient(0deg, rgba($pumuwupink,1) 0%, rgba($pumuwupink,0) 100%);
        
        margin: 0 8.5em;

        &:nth-child(2n) {
            text-align: right;
            background: linear-gradient(180deg, rgba($pumuwupink,0) 0%, rgba($pumuwupink,1) 100%);
        
            .userRow {
                transform-origin: right;
            }

            .user_title {
                margin-left: 1em;
                margin-right: 0;
            }

            .userRow_title {
                &::before {
                    content: none;
                }

                &::after {
                    content: '♡';
                    padding-right: 0;
                    color: $pumuwublu;
                }
            }
        }

        .user_title {
            font-size: 1.5em;
            padding: 0.25em 0;
            border-bottom: 2px solid rgba(white, 0.5);
            margin-bottom: 0.5em;
            margin-right: 1em;
            margin-left: 0;
            font-weight: 700;

            color: $pumuwumaroon;
            text-shadow: 1px 1px 1px rgba(black, 0.8);

            display: none;
        }
    }

    .user_rows {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
    }

    .userRow {
        transition: 0.25s transform ease 0.5s opacity ease 2s;
        transform: translateX(0) scale(1);
        transform-origin: left;

        &:not(.current):not(.final) {
            opacity: 0.5;
            transform: translateX(0) scale(0.8);
            order: 1;
            height: 1.7em;
        }

        &.done, &.final {
            animation: userRowFinish;
            animation-duration: 0.5s;
            animation-iteration-count: 3;
            order: 5;
        }

        &.current {
            order: 5;
        }

        &.final {
            .userRow_title {
                color: $pumuwuyellow;
                text-shadow: 1px 1px 1px rgba(black, 0.8);
            }
        }

        .userRow_title {
            font-weight: 600;
            color: white;
            &::before {
                content: '♡';
                padding-left: 0 !important;
            }
            &::before, &::after {
                padding: 10px;
                font-size: 23px;
                color: $pumuwublu;
                text-shadow: none;
            }
            text-shadow:    0px 0px 2px $pumuwumaroon, 
                            1px 1px 2px $pumuwumaroon, 
                            0px -1px 2px $pumuwumaroon,
                            -1px 0px 2px $pumuwumaroon,
                            1px 0px 2px $pumuwumaroon, 
                            0px 1px 2px $pumuwumaroon;
        }
        .userRow_time {
            font-variant: slashed-zero;
            font-family: monospace;
            color: white;
            text-shadow: 1px 1px 0px $pumuwumaroon;
            font-size: 0.8em;
        }
    }
}

@keyframes userRowFinish {
    0% {
        color: inherit;
    }
    50% {
        color: $pumuwured;
    }
    100% {
        color: inherit;
    }

}